<ion-card>
  <ion-card-header>
    <ion-card-subtitle>subtitle</ion-card-subtitle>
    <div class="display-flex-row space-between">
      <ion-card-title>title</ion-card-title>
      <ion-img class="logo" src="./../assets/icon/acti.png"></ion-img>
    </div>
  </ion-card-header>

  <!-- <ng-container *ngFor="let img of images">
      <ion-img [src]="img"></ion-img>
    </ng-container> -->

  <ion-card-content>
    <div class="card-details">
      <div class="display-flex-row space-between">
        <ion-img src="./../assets/images/abbr-1.png"></ion-img>
        <ion-img src="./../assets/images/abbr-2.png"></ion-img>
        <ion-img src="./../assets/images/abbr-3.png"></ion-img>
      </div>
      <div class="display-flex-row space-between margin-xs">
        <div class="display-flex-row">
          <ion-img class="logo" src="./../assets/icon/read.png"></ion-img>
          <ion-label>10次</ion-label>
        </div>
        <ion-label>10小时前</ion-label>
      </div>
    </div>
  </ion-card-content>
</ion-card>