<ion-header>
  <ion-toolbar [color]="getColor()" class="search-bar">
    <ion-searchbar animated="true" mode="md" placeholder="请开始你的探索" (ionChange)="searchChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-slides class="slider" pager="false" [options]="slideOpts" loop="true" autoplay="1000">
    <ion-slide *ngFor="let img of newsList">
      <ion-img class="slide-image" [src]="img"></ion-img>
    </ion-slide>
  </ion-slides>
  <ng-container *ngFor="let card of cardList">
    <app-ion-card></app-ion-card>
  </ng-container>
</ion-content>